<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>


<body>

  <%- include('./partials/nav.ejs') %>
  
  <div>
        <div class="nav-wrapper container">
          
            <div class="row">
                <form class="col s12" action="http://localhost:3000/api/createitem" method="POST">
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="item_name" type="text" class="validate" name="name" placeholder="new Item">
                      
                    </div>
                    <div class="input-field col s6">
                      <input id="price" type="tel" class="validate" name="price" placeholder="Price">
                      
                    </div>
                  </div>
                  <button class="btm" type="submit">Add Item</button>
                </form>
              </div>
      </div>
      
</body>
</html>